<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/index1.css">
</head>
<body>
  <header>
    <div class="flex_space"></div>
    <div class="center">
      <img src="../static/image/logo.png" alt="Logo" id="head_logo">
    </div>
    <div class="menu">
      <div id="add">+</div>
      <div id="remove">-</div>
      <!-- 아이콘 으로 replace -->
      <!-- css 적용하니 생각보다 괜찮아서 그냥써두 될거같다 -->
    </div>
  </header>
  <div class="center">오늘의 밈은?</div>
  <div class="card_container">
    <!-- 이곳에 카드들 추가예정 -->
    <!-- 별도의 사이즈 조정 필요 -->
  </div>
  



  <script src="../static/js/index1.js"></script>
</body>
</html>