<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>요.밈.알</title>
    <!-- Bootstrap CDN -->
    <!-- CDN Link (css) -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css
	  "
    />
    <!-- CDN Link (icon) -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <!-- 랜덤이미지용 jQuery cdn -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>

    <!-- today CSS 연결 -->
    <link rel="stylesheet" href="static/css/today.css" />

    <!-- header CSS 연결 -->
    <link rel="stylesheet" href="/static/css/header.css" />
  </head>
  <body onload="showImage()">
    <!-- header include -->
    <%- include('./header.ejs') %>

    <!-- <img src="/static/image/logo.png" class="logo" /> -->
    <div class="containerOpp">
      <div class="title">오늘의 밈</div>
      <div class="container">
        <div class="img_box">
          <img id="introimg" />
        </div>
        <div class="buttons">
          <!-- replay icon -->
          <i class="replay-icon bi bi-pause-circle">멈추기</i>
          <!-- 트위터 공유 링크버튼 -->
          <a
            class="twitter-share-button"
            href="https://twitter.com/share"
            data-size="large"
            data-text="custom share text"
            data-url="https://dev.twitter.com/web/tweet-button"
            data-hashtags="example,demo"
            data-via="twitterdev"
            data-related="twitterapi,twitter"
          >
            Tweet
          </a>
          <!-- 공유 링크버튼 -->
          <a
            id="btnTwitter"
            class="link-icon twitter"
            href="javascript:shareTwitter();"
            >트위터</a
          >
          <a
            id="btnFacebook"
            class="link-icon facebook"
            href="javascript:shareFacebook();"
            >페이스북</a
          >
        </div>
      </div>
    </div>
    <!-- todaysimg.js 불러오기 -->
    <script src="/static/js/todaysimg.js"></script>
  </body>
</html>
