@font-face {
  font-family: "HBIOS-SYS";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "HBIOS-SYS";
}
body {
  width: 100vw;
  margin: 0 0 50px 0;
  background-color: #D9F8FF;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 4px;
}
header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#head_logo {
  width: 12rem;
}
header .menu {
  display: flex;
  font-size: 3rem;
  width: 5rem;
  justify-content: center;
}
header .menu div {
  margin: 0 0.3rem;
}
header .flex_space {
  width: 5rem;
  /* 로고의 가운데 정렬을 위해 존재 */
}
.center {
  text-align: center;
}
.card_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 400px;
  background-color: #066AFF;
  margin: 30px;
  /* padding: 20px; */
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  
}
.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card a {
  text-decoration: none;
  color: white;
}
.card .card_name {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}
.card .card_text {
  margin: 1rem 2rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 1000px) {
  .card {
    flex-direction: row;
    /* height: 300px; */
    width: 80vw;
    margin: 50px 30px;
    transition: 0.5s;
  }
  .card img {
    /* height: 100%; */
    max-width: 40%;
    border-radius: 10px 0 0 10px;
  }
}
@media screen and (max-width: 400px) {
  .card {
    margin: 10px;
    width: 300px;
  }
  .card .card_name {
    font-size: 1rem;
    margin: 0.5rem 0;
    font-weight: 400;
  }
  .card .card_text {
    margin: 0 0.5rem;
    font-size: 0.8rem;
  }
}