/* 메인폰트 */
@font-face {
  font-family: "HBIOS-SYS";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

/* 마우스 클릭 이벤트 */
@keyframes clicked {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

#clickEffect {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  pointer-events: none;
}

#clickEffect::after {
  content: "";
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

#clickEffect.effect {
  display: block;
}

#clickEffect.effect::after {
  animation: clicked 0.5s cubic-bezier(0.29, 0, 0.15, 1);
}

/* imessage */
body {
  /* font-family: helvetica; */
  font-family: "HBIOS-SYS" !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin: 0;
  height: inherit;
  width: 100vw;
}

.bg-change {
  font-size: 0.8em;
  position: fixed;
  margin: 8px;
  top: 0;
  right: 0px;
}

a {
  text-decoration: none;
}
.chat_container {
  display: flex;
  flex-direction: column;
}
.chat_container .flex_space {
  height: 70px;
}
.chat {
  border: solid 1px #eee;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 5px;
  height: 90vh;
  width: 80vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat::-webkit-scrollbar {
  width: 8px;
}
.chat::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 4px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.chat_animation.mine {
  animation: chatAnimationMine 1s;
}
.chat_animation.yours {
  animation: chatAnimationYours 1s;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin: 5px 8px;
  display: inline-block;
}
.message :not(.memeCard) {
  max-width: 40vw;
}
.chat_animation .message.last {
  max-width: 40vw;
}
.message .memeCard {
  background-color: inherit;
  padding: 0;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  background-color: #eee;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}

.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.yours .memeCard,
.yours .memeCard a {
  color: black;
  text-decoration: none;
}

.mine {
  align-items: flex-end;
}

/* 에니메이션을 위해 그라데이션을 평균값으로 교체 */
.mine .message {
  color: white;
  /* margin-left: 25%; */
  /* background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%); */
  background-color: #00aadd;
  background-attachment: fixed;
  position: relative;
  /* margin-right: 8px; */
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  /* background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%); */
  background-color: #00aadd;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.chat_img {
  width: 40vw;
  border-radius: 10px;
  margin: 0 8px;
}

.chat_img :not(.last) {
  margin-bottom: -25px;
}

.scroll_text {
  position: fixed;
  color: lightgray;
  bottom: 100px;
  right: 10vw;
  cursor: pointer;
  user-select: none;
}
.scroll_text i {
  color: inherit;
}

.heart_container {
  display: flex;
  margin: 0 8px;
  align-items: center;
}
.heart {
  margin: 4px;
  user-select: none;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .chat_img {
    width: 400px;
  }
  .memeCard {
    width: auto;
  }
  .message :not(.memeCard) {
    max-width: 400px;
  }
}

/* 채팅 생성시 에니메이션에 .chat의 모서리 에서 점점 나오는 에니메이션을 추가 */
@keyframes chatAnimationMine {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes chatAnimationYours {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.heart_sort {
  position:absolute;
  right: 10vw;
  /* z-index: 99; */
}


/* popup function */
#hide_back {
  position: absolute;
  background-color: lightgray;
  opacity: 0.5;
  z-index: 1;
  /* height: inherit; */
}
#hide_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100%;
}
.popup_animation {
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}

/* .popup_name 삭제 */
.hide {
  z-index: -1 !important;
  width: 0;
  height: 0;
  opacity: 0;
  /* opacity 카드<->채팅 에서 변경됨 */
}
.close_btn {
  width: 4rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-top: 10px;
}
/* 디자인에 관한 논의가 필요함 */
.close_btn:hover {
  background-color: black;
  color: white;
  transition: 1s;
}
@media screen and (min-width: 1000px) {
  /* #popup {
      width: 600px;
    }   */
  .close_btn {
    left: 268px;
  }
}

/* card function */
.memeCard {
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid inherit;
  background-color: #066aff;
  width: 40vw;
  height: 100%;
  padding: 16px;
  border-radius: 20px;
  animation: card_animation 1s;
  overflow: hidden;
}
/* 카드 사이즈 조정시 에니메이션 속성도 수정해야됨 */
.card_message {
  padding: 0;
}

.card_img {
  width: 40vw;
  border-radius: 20px 20px 0 0;
}

.card_name {
  text-align: center;
  margin: 2rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.mine .card_name a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.card_to_string {
  overflow: hidden;
}
.card_text {
  margin: 0 2rem 2rem 2rem;
  animation: card_text_animation 1s;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .memeCard {
    width: 400px;
    animation: card_animation1000 1s;
  }
}
@media screen and (min-width: 1200px) {
  .chat > .messages.mine:not(.chat_animation) {
    animation: chatAnimationMine 1s;
  }
  .chat > .messages.yours:not(.chat_animation) {
    animation: chatAnimationYours 1s;
  }
  .memeCard {
    /* animation: none; */
    flex-direction: row;
    align-items: center;
    min-width: 700px;
    /* width: 700px; */
  }
  .memeCard img {
    width: 100%;
    min-width: 400px;
    border-radius: 20px;
    margin: 20px 0 20px 20px;
    z-index: 2;
  }
  .card_text {
    animation: none;
  }
}

@keyframes card_animation {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 40vw;
    height: 100%;
  }
}
@keyframes card_animation1000 {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 400px;
    height: 100%;
  }
}
@keyframes card_text_animation {
  from {
    width: 300%;
    height: 0;
  }
  to {
    width: auto;
    height: auto;
  }
}

/* 이 밑으로는 search css */
.panel {
  display: none;
  width: 80vw;
  padding: 50px;
  margin: 10px;
  text-align: center;
  color: white;
  background-color: #066aff;
  border-radius: 10px;
}

.search_result {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1.5fr 2fr;
  grid-template-areas:
    "img name"
    "img content"
    "img content"
    "img content"
    "img link";
}

#result_img {
  grid-area: img;
  width: 100%;
}

#result_name {
  grid-area: name;
  font-size: 3vw;
  margin-left: 4vw;
}

#result_content {
  grid-area: content;
  text-align: left;
  margin-bottom: 2vw;
  margin-left: 4vw;
}

#result_link {
  grid-area: link;
}

.result_link_btn {
  margin: 2vw;
  width: 18vw;
  height: 3vw;
  background-color: white;
  border: none;
  border-radius: 10px;
  margin-left: 4vw;
}

.material-symbols-outlined {
  color: #ff9999;
  font-variation-settings: "wght" 400, "GRAD" 0, "opsz" 48;
}
.material-symbols-outlined:not(.like) {
  transition: 1s;
  font-variation-settings:
  'FILL' 0
}
.material-symbols-outlined.like {
  transition: 0.5s;
  font-size: 2rem;
  animation: heartBounce 0.5s linear;
  font-variation-settings:
  'FILL' 1
}
@keyframes heartBounce {
  0% {
    font-size: auto;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    border: 2px solid rgba(255, 153, 153, 1);
  }
  50% {
    font-size: 3rem;
    padding: 0.5rem;
    margin: -0.5rem;
    border-radius: 2.5rem;
    border:2px solid rgba(255, 153, 153, 0.5);
  }
  100% {
    font-size: 2rem;
    padding: 1.5rem;
    margin: -1.5rem;
    border-radius: 3.5rem;
    border: 2px solid rgba(255, 153, 153, 0);
  }
}
.nav {
  font-size: 1vw;
}
