body {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
  height: 50%;
}

.containerOpp {
  background-color: #066aff;
  border-radius: 50px;
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
